.nav-color{
    background-color: rgba(201, 62, 62, 0.685);
}
.displaycolumn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.gloxy{
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
}
.navbar-brand{
    background-color: rgba(255, 168, 37, 0.904);
    padding: 2px 10px;
    margin: 0;
    
}
.nav-item{
    
    margin-right: 3px;
    font-size: 1.2rem;
   
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.nav-item:hover{
      background-color: rgba(255, 168, 37, 0.904);
        transition: 0.3s all;
}